.forms {
    display: flex;
    
    flex-direction: column;
    margin-top: 62px;
    
    
}

.icons a {
    display: flex;
    align-items: center;
    gap: 2px;
    color: var(--color-brand);
    font-weight: bold;
    font-size: 14px;
}

.icons svg {
    width: 16px;
    height: 16px;
    object-fit: cover;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 16px;
}

.input-form {
    margin-top: 44px;
    width: 350px;
    font-family: "Inter", sans-serif;
    padding: 12px 18px;
    border-radius: 10px;
    border: 3px solid transparent;
    border-color: var(--border-primary);
    margin-bottom: 40px;
}

.input-form:hover {
    border-color: var(--border-hover);
 }

.input-form:focus {
    border-color:  var(--color-brand);
    outline: none;
}

button {
    font-family: "Inter",sans-serif;
    padding: 14px 24px;
    border-radius: 10px;
    border: none;
    background-color: var(--color-brand);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: var(--color-brand-hover);

}