.items {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 12px;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 12px;
    
}

.check {
    width: 16px;
    height: 16px;
    border-radius: 6px;
    border: 1px solid var(--border-primary);
    cursor: pointer;
}

.check:hover {
    border: 1px solid var(--border-hover);
}



.items label {
    font-family: "Inter", sans-serif;
    color: var(--content-secondary);
    line-height: 24px;
    font-size: 16px;
    font-weight: 500;
}

.items img {
    margin-left: auto;
}


.checkbox-container {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    
  }

 
  .checkbox-container input[type="checkbox"] {
    display: none;
  }
 
  .custom-checkbox {
    width: 18px;
    height: 18px;
    background-color: #f0f0f0;
    border: 1px solid var(--border-primary);
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    
  }

  .custom-checkbox:hover {
    border-color: var(--border-hover);

  }

   
  .checkbox-container input[type="checkbox"]:checked + .custom-checkbox {
    background-color: var(--color-brand);
    border-color: var(--color-brand)
  }

   
  .checkbox-container input[type="checkbox"]:checked + .custom-checkbox::before {
    content: "✓";
    color: white;
  }

 
  .custom-checkbox::before {
    content: "";
    color: #999;
  }







